.reglage{
    padding-left: 5%;
    padding-top: 2%;
    padding-right: 5%;
    padding-bottom: 2%;
  }

  strong{
    color:brown;
  }

  #a{
    text-decoration: none;
  }
  
  input:required:invalid{
    background-color: red;
  }
